* {
  box-sizing: border-box;
  border: 1px dashed red;
  margin:0;
  padding:0;
  font-family: Calibri;
}

.header-container,
.banner-container,
.footer-container {
  background-color: #1F2937;
  color: white;
}

.quote-container {
  background-color: #E5E7EB;
}

.signup-ad-container {
  background-color: #3882F6;
  color:white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  font-size: 24px;
  font-weight: 800;
  color: #F9FAF8;
}

.header-links ul {
  list-style: none;
  display:flex;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
  gap: 15px;
}

.header-links {
  margin-right: 200px;
}

.banner-container {
  display:flex;
  justify-content: space-between;
  padding: 150px 0 150px 0;
  gap: 0px;
}
.banner-text {
  margin-left: 200px;
  min-width: 20vw;
  display: flex;
  flex-direction:column;
  gap: 15px;
}

.banner-text .banner-title {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.banner-text .banner-subtext {
  font-size: 18px;
}

.banner-image {
  margin-right: 200px;
  min-width: 40vw;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 80px 20px 80px 20px;
}

.body-title {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.body-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.body-item-container .item {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.quote-container{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 220px;
  padding-right: 220px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.quote-text {
  font-size:36px;
  font-style: italic;
  color: #1F2937;
}
.quote-author {
  margin-left: auto;
  font-size:22px;
  font-weight:800;
}

.signup-ad-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 200px 50px 200px; /* TLBR */
  padding: 30px 50px 30px 50px;
  gap: 200px;
  border-radius: 10px;
}

.signup-ad-text {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 10px;
}
.signup-ad-title {
  font-size: 20px;
  font-weight: 900;
  max-width: 300px;
}
.signup-button {
  background-color:#3882F6;
  color: white;
  display:flex;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  font-size:18px;
  font-weight:500;
}

.signup-ad-container .signup-button {
  border: 1px solid white;
}

.footer-container {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
}
