* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  /* border: 1px solid red; */ /* for debugging */
}

.menu-container {
  color:#fff;
  background-color: #5995DA; /*Blue*/
  padding: 20px 0;
  /* flex container */
  display : flex;
  justify-content: center;
}

.menu {
  /*border: 1px solid #fff;*/ /*for debugging*/
  width: 900px;
  max-width: 90%;
  display : flex;
  justify-content : space-between;
}

.links {
  display : flex;
  justify-content : flex-end;
}

.login {
  margin-left : 20px;
}

.header-container {
  color: #5995DA;
  background-color : #D6E9FE;
  display : flex;
  justify-content : center;
}

.header {
  width : 900px;
  height : 100px;
  max-width : 90%;
  max-height : 50%;
  display : flex;
  justify-content : space-between;
  align-items : center;
}
.social,
.subscribe {
  /*border: 1px solid red;*/ /* for debugging */
  align-self : flex-end;
  margin-bottom : 20px;
}
.photo-grid-container {
  display : flex;
  justify-content : center;
}

.photo-grid {
  width : 900px; 
  display : flex;
  justify-content : center;
  flex-wrap : wrap;
  flex-direction : row;
  align-items : center;
}

.photo-grid-item {
  border: 1px solid red;
  width : 300px;
  height : 300px;
}

.first-item {
  order : 1
}
.last-item {
  order : -1
}

.footer {
  display : flex;
  justify-content : space-between;
}

.footer-item {
  border : 1px solid #fff;
  background-color: #D6E9FE;
  height : 200px;
  flex : 1;
}

.footer-two {
  flex : 2;
}

.footer-one,
.footer-three {
  background-color : #5995DA;
  flex : initial; /* fixed width/static,window resize has no effect" */
  width : 300px;
}
